Repository causalens/cai-causal-graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle, @causalens/platform-team

fixed bug
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

format and linting
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Typo in docstring
  cai_causal_graph/causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

andrew's comments
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Bugfix: Node variable info (#22)
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Initial commit.
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Fix changelog and add new methods.
  cai_causal_graph/causal_graph.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Add unit test for graph component.
  tests/test_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Add unit tests for new parent and children methods.
  tests/test_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Improvement: Add node_name alias and methods to get parent/children nodes (#23)
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  changelog.md
  tests/test_causal_graph.py
  tests/test_components.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Fix changelog.
  changelog.md
Owners: @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

order
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

remove prints
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

format changelog
  changelog.md
Owners: @causalens/causal-ai-management

fix order
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

linting
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update time_series_causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

andrew's comments
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Improvements: Swapped source and destination in time series graph for non-directed edges (#24)
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

checking-already-checked
  cai_causal_graph/causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

.github/CODEOWNERS:

# Code owners file is read from top to bottom, with the later (more specific) entries taking precedence over the earlier
# ones

# Global owners if a specific one is not specified
* @causalens/causal-ai-management

# Modules and directories owners
/cai_causal_graph/ @causalens/causal-ai-team @causalens/mle
/docs/ @causalens/causal-ai-team @causalens/mle
/tests/ @causalens/causal-ai-team @causalens/mle
/tooling/ @causalens/platform-team
