Repository causalens/cai-causal-graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle, @causalens/platform-team

.github/CODEOWNERS:

# Code owners file is read from top to bottom, with the later (more specific) entries taking precedence over the earlier
# ones

# Global owners if a specific one is not specified
* @causalens/causal-ai-management

# Modules and directories owners
/cai_causal_graph/ @causalens/causal-ai-team @causalens/mle
/docs/ @causalens/causal-ai-team @causalens/mle
/tests/ @causalens/causal-ai-team @causalens/mle
/tooling/ @causalens/platform-team

fixed dict vs meta from dict
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update graph_components.py
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

linting
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update graph_components.py
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Version Bump
  cai_causal_graph/__init__.py
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Update changelog.md
  changelog.md
Owners: @causalens/causal-ai-management

Update changelog
  changelog.md
Owners: @causalens/causal-ai-management

Update graph_components.py
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Futher refinements and corrections in changelog.
  changelog.md
Owners: @causalens/causal-ai-management

Formatting
  changelog.md
Owners: @causalens/causal-ai-management

Improve docstring for equality, fix edge deep equality as behavior would be different for undirected when deep vs not, and add unit test.
  cai_causal_graph/graph_components.py
  tests/test_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Unit test one more edge case.
  tests/test_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Formatting
  cai_causal_graph/graph_components.py
  tests/test_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Linting
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Improvement: graph consolidation (#12)
  cai_causal_graph/__init__.py
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  poetry.lock
  pyproject.toml
  tests/test_components.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Fix changelog as link to TimeSeriesCausalGraph was broken and doc building cannot link classmethod.
  changelog.md
Owners: @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

moved files over
  cai_causal_graph/identify_utils.py
  changelog.md
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

added some docs
  cai_causal_graph/identify_utils.py
  docs/causal_graph.md
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

andrew comments
  cai_causal_graph/identify_utils.py
  docs/causal_graph_utils.md
  docs/sidebar.json
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

tests and docs
  cai_causal_graph/identify_utils.py
  changelog.md
  docs/causal_graph.md
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

andrew comment
  cai_causal_graph/identify_utils.py
  docs/causal_graph_utils.md
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

Improve docs and strengthen unit test. However, it now fails and shows function is not symmetric.
  cai_causal_graph/identify_utils.py
  docs/causal_graph_utils.md
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

improved utility function to ensure symmetry
  cai_causal_graph/identify_utils.py
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

andrew comments
  cai_causal_graph/identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

Feature: Identify Confounders Utility Function (#14)
  cai_causal_graph/identify_utils.py
  changelog.md
  docs/causal_graph_utils.md
  docs/sidebar.json
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Rename sidebar label for utils.
  docs/sidebar.json
Owners: @causalens/causal-ai-team, @causalens/mle

changelog
  changelog.md
Owners: @causalens/causal-ai-management

finished identify_instruments
  cai_causal_graph/identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

finished unittesting for instrumental variables
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

Improve identify confounders function.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/identify_utils.py
  docs/causal_graph_utils.md
  docs/sidebar.json
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

Make graph bigger to show algo is fast.
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

Improvement: Improve identify confounders function (#15)
  cai_causal_graph/causal_graph.py
  cai_causal_graph/identify_utils.py
  docs/causal_graph_utils.md
  docs/sidebar.json
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

mediator testing done
  cai_causal_graph/identify_utils.py
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

finished updating tests
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

fixed test
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

docstrings and documentation
  cai_causal_graph/identify_utils.py
  docs/causal_graph_utils.md
Owners: @causalens/causal-ai-team, @causalens/mle

andrew comments
  cai_causal_graph/identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

Feature: Identify Mediator and Identify Instruments (#16)
  cai_causal_graph/identify_utils.py
  changelog.md
  docs/causal_graph_utils.md
  tests/test_identify_utils.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management
