Repository causalens/cai-causal-graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle, @causalens/platform-team

Revise stationarity part
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

added expl stat
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Update time_series_causal_graph.md
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Remove extra line
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Improvement: UAT feedback (#10)
  cai_causal_graph/__init__.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  docs/quickstart.md
  poetry.lock
  pyproject.toml
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Simplify changelog a bit.
  changelog.md
Owners: @causalens/causal-ai-management

Expand quickstart.
  docs/quickstart.md
Owners: @causalens/causal-ai-team, @causalens/mle

Move one file from assets to images folder as new folder was added.
  docs/images/DAG_CPDAG_PAG.png
  docs/introduction.md
Owners: @causalens/causal-ai-team, @causalens/mle

Fix linking of classes and some general cleanup.
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Final edits in doc.
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Self review
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Documentation: Add documentation on time series causal graphs (#7)
  changelog.md
  docs/images/DAG_CPDAG_PAG.png
  docs/images/summary_graph.png
  docs/images/ts_cg.png
  docs/images/ts_cg_dark.png
  docs/images/ts_extended_graph.png
  docs/images/ts_extended_graph_dark.png
  docs/images/ts_instantaneous_effects.png
  docs/images/ts_minimal_graph.png
  docs/images/ts_minimal_graph_dark.png
  docs/images/ts_no_instantaneous_effects.png
  docs/images/ts_summary_graph.png
  docs/images/ts_summary_graph_dark.png
  docs/introduction.md
  docs/quickstart.md
  docs/sidebar.json
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Fix typo.
  docs/quickstart.md
Owners: @causalens/causal-ai-team, @causalens/mle

Changelog
  changelog.md
Owners: @causalens/causal-ai-management

Docs: Fix typo in quickstart (#11)
  changelog.md
  docs/quickstart.md
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

initial commit
  cai_causal_graph/__init__.py
  cai_causal_graph/causal_model_graph.py
  cai_causal_graph/definitions.py
  cai_causal_graph/utils.py
  tests/test_causal_model_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

graph consolidation
  cai_causal_graph/__init__.py
  cai_causal_graph/causal_graph.py
  cai_causal_graph/causal_model_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Delete definitions.py
  cai_causal_graph/definitions.py
Owners: @causalens/causal-ai-team, @causalens/mle

linting
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Delete test_causal_model_graph.py
  tests/test_causal_model_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

interrogate
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

removed commented code
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

change test
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update changelog.md
  changelog.md
Owners: @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

pr comments
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  cai_causal_graph/utils.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

steven's comments.
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Update time_series_causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

reverted lock and version bump
  cai_causal_graph/__init__.py
  cai_causal_graph/causal_graph.py
  poetry.lock
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Initial commit
  cai_causal_graph/graph_components.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Self review
  changelog.md
Owners: @causalens/causal-ai-management

Improvement: Add edge_type property to Edge class (#13)
  cai_causal_graph/graph_components.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

first round of comments
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  cai_causal_graph/utils.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

final round comments
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  tests/test_components.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

reverted toml
  pyproject.toml
Owners: @causalens/causal-ai-management

Update time_series_causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update changelog.md
  changelog.md
Owners: @causalens/causal-ai-management

added deep eq and improved tests
  cai_causal_graph/graph_components.py
  changelog.md
  tests/test_components.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

.github/CODEOWNERS:

# Code owners file is read from top to bottom, with the later (more specific) entries taking precedence over the earlier
# ones

# Global owners if a specific one is not specified
* @causalens/causal-ai-management

# Modules and directories owners
/cai_causal_graph/ @causalens/causal-ai-team @causalens/mle
/docs/ @causalens/causal-ai-team @causalens/mle
/tests/ @causalens/causal-ai-team @causalens/mle
/tooling/ @causalens/platform-team
