Repository causalens/cai-causal-graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle, @causalens/platform-team

.github/CODEOWNERS:

# Code owners file is read from top to bottom, with the later (more specific) entries taking precedence over the earlier
# ones

# Global owners if a specific one is not specified
* @causalens/causal-ai-management

# Modules and directories owners
/cai_causal_graph/ @causalens/causal-ai-team @causalens/mle
/docs/ @causalens/causal-ai-team @causalens/mle
/tests/ @causalens/causal-ai-team @causalens/mle
/tooling/ @causalens/platform-team

Start addressing review comments.
  cai_causal_graph/causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Address more review comments and some of my own feedback.
  cai_causal_graph/time_series_causal_graph.py
  cai_causal_graph/utils.py
Owners: @causalens/causal-ai-team, @causalens/mle

More review comments.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

More review comments.
  README.md
  cai_causal_graph/__init__.py
  cai_causal_graph/time_series_causal_graph.py
  cai_causal_graph/type_definitions.py
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Formatting
  cai_causal_graph/__init__.py
Owners: @causalens/causal-ai-team, @causalens/mle

Version Bump
  cai_causal_graph/__init__.py
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Add docs
  cai_causal_graph/__init__.py
  docs/images/summary_graph.png
  docs/images/ts_instantaneous_effects.png
  docs/images/ts_no_instantaneous_effects.png
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Add final comment about inheritance
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Capital letter
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Assert that shape of all adjacency matrices match.
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Add citation for the images
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Address more review comments.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Fix test assertions.
  cai_causal_graph/time_series_causal_graph.py
  tests/test_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

More Steven comments.
  cai_causal_graph/causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Fix docstring so docs can be built.
  cai_causal_graph/causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Version Bump
  cai_causal_graph/__init__.py
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Docs: Fix docstring so docs can be built (#8)
  cai_causal_graph/__init__.py
  cai_causal_graph/causal_graph.py
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Formatting
  cai_causal_graph/causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Move TimeSeriesNode to graph components module.
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update changelog.
  changelog.md
Owners: @causalens/causal-ai-management

Improve repr methods.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Improve the to_dict methods.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Reorder changelog.
  changelog.md
Owners: @causalens/causal-ai-management

Docs cleanup
  docs/quickstart.md
Owners: @causalens/causal-ai-team, @causalens/mle

Fix docs for EDGE_T and NODE_T by having original class be the link.
  cai_causal_graph/__init__.py
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  cai_causal_graph/type_definitions.py
  changelog.md
  docs/causal_graph.md
  docs/introduction.md
  docs/quickstart.md
  tests/test_causal_graph.py
  tests/test_causal_graph_edge_types.py
  tests/test_components.py
  tests/test_node_support.py
  tests/test_paths.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Formatting and more comments addressed.
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  tests/test_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Full links in quickstart and some other comments.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  docs/quickstart.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Check for backwards edges when adding.
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Fix unit test.
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Add warning if overwritting meta info.
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Fix linting.
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Fix lint and unit test. Required another branch when edge is provided instead of source and destination.
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

One more unit test.
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Feature: Added TimeSeriesCausalGraph (#4)
  README.md
  cai_causal_graph/__init__.py
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  cai_causal_graph/type_definitions.py
  cai_causal_graph/utils.py
  changelog.md
  docs/causal_graph.md
  docs/introduction.md
  docs/quickstart.md
  pyproject.toml
  tests/test_causal_graph.py
  tests/test_causal_graph_edge_types.py
  tests/test_components.py
  tests/test_node_support.py
  tests/test_paths.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Promote main to 0.2 stable.
  README.md
Owners: @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Add example with images
  docs/images/ts_cg.png
  docs/images/ts_cg_summary_graph.png
  docs/images/ts_minimal_graph.png
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Write example
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Merge cleanup
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management
