Repository causalens/cai-causal-graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle, @causalens/platform-team

.github/CODEOWNERS:

# Code owners file is read from top to bottom, with the later (more specific) entries taking precedence over the earlier
# ones

# Global owners if a specific one is not specified
* @causalens/causal-ai-management

# Modules and directories owners
/cai_causal_graph/ @causalens/causal-ai-team @causalens/mle
/docs/ @causalens/causal-ai-team @causalens/mle
/tests/ @causalens/causal-ai-team @causalens/mle
/tooling/ @causalens/platform-team

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

copy
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

andrew's comments
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

new comments
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
  tests/test_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update changelog.md
  changelog.md
Owners: @causalens/causal-ai-management

Update changelog.md
  changelog.md
Owners: @causalens/causal-ai-management

Extend equality for Skeleton, better unit tests, and update changelog.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_causal_graph.py
  tests/test_skeleton.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Self review
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Version Bump
  cai_causal_graph/__init__.py
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Improvement: Made method `copy` more general (#17)
  cai_causal_graph/__init__.py
  cai_causal_graph/causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  pyproject.toml
  tests/test_causal_graph.py
  tests/test_skeleton.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

moved _NodeClassDict to edges
  cai_causal_graph/graph_components.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update changelog.md
  changelog.md
Owners: @causalens/causal-ai-management

Improvement: Moved _NodeClassDict to edges (#18)
  cai_causal_graph/graph_components.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Fix typo in changelog.
  changelog.md
Owners: @causalens/causal-ai-management

Flip sidebar to put Quickstart at the top.
  changelog.md
  docs/quickstart.md
  docs/sidebar.json
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Documentation: Ensure Quickstart is at top of sidebar (#19)
  changelog.md
  docs/quickstart.md
  docs/sidebar.json
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Initial commit
  .github/workflows/dependencies-checks.yml
  .github/workflows/main-checks.yml
  .github/workflows/post-release.yml
  .github/workflows/pr-checks.yml
  pyproject.toml
Owners: @causalens/causal-ai-management

Changelog
  changelog.md
Owners: @causalens/causal-ai-management

Remove 3.12 from pr check now that it passed.
  .github/workflows/pr-checks.yml
Owners: @causalens/causal-ai-management

Improvement: Add support for python 3.12 (#20)
  .github/workflows/dependencies-checks.yml
  .github/workflows/main-checks.yml
  .github/workflows/post-release.yml
  changelog.md
  pyproject.toml
Owners: @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Fix formatting in changelog.
  changelog.md
Owners: @causalens/causal-ai-management

added utils
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

added funcs
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

linting
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

max's comment
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

mle comments
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

improved from_
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

added tests
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

removed get_potential_contemporanous_parents
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

remved test_get_potential_contemporanous_parents
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

deep equality
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update test_time_series_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

andre's comments
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Update test_time_series_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Feature: Added utils to get contemporaneous nodes (#21)
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  changelog.md
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management
