Repository causalens/cai-causal-graph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle, @causalens/platform-team

Formatting
  cai_causal_graph/causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update quickstart
  docs/quickstart.md
Owners: @causalens/causal-ai-team, @causalens/mle

Initial commit
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Improvements on equality checks and tests.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  tests/test_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Final edits and changelog.
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

One more line item in changelog.
  changelog.md
Owners: @causalens/causal-ai-management

Self review
  changelog.md
Owners: @causalens/causal-ai-management

uat
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Address PR comments
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Address PR comments
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Strengthen unit tests.
  tests/test_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Improvement: Fix repr bug in TimeSeriesCausalGraph and other small fixes (#9)
  cai_causal_graph/causal_graph.py
  cai_causal_graph/graph_components.py
  cai_causal_graph/time_series_causal_graph.py
  changelog.md
  tests/test_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Address PR comments
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Update time_series_causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

edge preserved
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Address PR comments
  docs/images/ts_cg.png
  docs/images/ts_cg_dark.png
  docs/images/ts_cg_summary_graph.png
  docs/images/ts_extended_graph.png
  docs/images/ts_extended_graph_dark.png
  docs/images/ts_minimal_graph.png
  docs/images/ts_minimal_graph_dark.png
  docs/images/ts_summary_graph.png
  docs/images/ts_summary_graph_dark.png
  docs/sidebar.json
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Address PR comments
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Add CPDAG brief example
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Add Markov equivalence classes
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

added is_stationary and make stationary
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

fixed linting
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Version Bump
  cai_causal_graph/__init__.py
  poetry.lock
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

Version Bump
  cai_causal_graph/__init__.py
  pyproject.toml
Owners: @causalens/causal-ai-team, @causalens/mle, @causalens/causal-ai-management

added tests and fixed edge type in extended graph
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

test make stationary
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

pr comments
  cai_causal_graph/time_series_causal_graph.py
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

pr comments
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

renaming
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

Update time_series_causal_graph.py
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

fixed stationary tests
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

added to_numpy_by_lag
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

added test for to_numpy_by_lag
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

fixed to_numpy_by_lag test
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

fixed adj
  changelog.md
  tests/test_time_series_graph.py
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Update changelog.md
  changelog.md
Owners: @causalens/causal-ai-management

changelog and quickstart
  changelog.md
  docs/quickstart.md
Owners: @causalens/causal-ai-management, @causalens/causal-ai-team, @causalens/mle

Address PR comments
  docs/images/ts_minimal_graph.png
  docs/images/ts_minimal_graph_dark.png
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

added stationarity docs
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

Update time_series_causal_graph.md
  docs/time_series_causal_graph.md
Owners: @causalens/causal-ai-team, @causalens/mle

docstrings
  cai_causal_graph/time_series_causal_graph.py
Owners: @causalens/causal-ai-team, @causalens/mle

.github/CODEOWNERS:

# Code owners file is read from top to bottom, with the later (more specific) entries taking precedence over the earlier
# ones

# Global owners if a specific one is not specified
* @causalens/causal-ai-management

# Modules and directories owners
/cai_causal_graph/ @causalens/causal-ai-team @causalens/mle
/docs/ @causalens/causal-ai-team @causalens/mle
/tests/ @causalens/causal-ai-team @causalens/mle
/tooling/ @causalens/platform-team
